.imagen{
	width: 600px;
	height: 400px;

}
.carrucel{
	text-align: center;
	margin-top: 75px;
	background-color: black;
	
}

.reservar{
	margin-top: 10px;
	background-color: #5B70ED;
	width: 100px;
	height: 50px;
	text-align: center;

}
.direccion{
	margin-top: 20px;
}
.nombreBar{
	text-align: center;
}